

.btn-search{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-hotline{
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        padding: 0 .5em;
    }
}

.btn-contact{
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        padding: 0 .5em;
        // border: 1px solid grey;
    }
}

.btn {
    border-radius: 50px;
    background-color: #0D897F;
    cursor: pointer;
    transition: .6s ease-out;
    margin-top: 1em;
    &:not(:first-of-type){
        margin-left: 1.5em;
    }

    &:hover{
        background-color: rgb(15, 201, 185);
    }    
}

.btn-explore-slide{
    background-color: #f3f3f3;
    width: 180px;
    height: 45px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        color: #ffffff;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);    
        a{
            text-decoration: none;
            color: #ffffff;
            margin-right: 20px;
        }
        svg{
            fill: #ffffff !important;
        } 
    }
}


.btn-explore{
    background-color: #ffffff;
    width: 180px;
    height: 45px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        color: #0D897F;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);    
        a{
            text-decoration: none;
            color: #0D897F;
            margin-right: 20px;
        }     
    }

}

.btn-explore-who{
    background-color: #0D897F;
    width: 180px;
    height: 45px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        color: #ffffff;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);    
        a{
            text-decoration: none;
            color: #ffffff;
            margin-right: 20px;
        }
        svg{
            fill: #ffffff !important;
        } 
    }
}

.btn-explore-search{
    background-color: #0D897F;
    width: 180px;
    height: 45px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;

    span{
        color: #ffffff;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);    
        a{
            text-decoration: none;
            color: #ffffff;
            margin-right: 20px;
            
        }
        svg{
            fill: #ffffff !important;
            right: .7em;
            transition: all 0.6s;
            &:hover{
                position: relative;
                right: -.7em;
                transition: all 0.6s;
            }
        } 
    }
}

.btn-explore-prop{
    position: relative;
    top: 0;
    background-color: #f3f3f3;
    width: 180px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;

    span{
        color: #0D897F;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);    
        a{
            text-decoration: none;
            color: #0D897F;
            margin-right: 20px;
        }
        svg{
            fill: #0D897F !important;
            transition: .6s ease-in-out;
            &:hover{
                position: relative;
                right: -.7em;
                transition: all 0.3s;
            }
        } 
    }
}

