
.title-content {

    padding: 1em;

    h1{
        // color: #ffffff;
        font-size: 3em;
        display: inline-block;
        margin: 0;
        font-weight: bold;
        
    }
    p{
        font-size: 2em;
        font-weight: 300;
        display: inline-block;
    }
}

@media only screen and (max-width: 768px){

    .title-content {

        padding: 1em;
    
        h1{
            // color: #ffffff;
            font-size: 2em;
            display: inline-block;
            margin: 0;
            font-weight: bold;
            
        }
        p{
            font-size: 1em;
            font-weight: 300;
            display: inline-block;
        }
    }
}

// .what-we-do-container{

//     .container{

//         .card--1{
//             grid-column: 1;
//             grid-row: 1 / 3;
//             align-self: center;
//             height: auto;

//         }
//         .title{
//             color: #0D8941;
//             font-weight: bold;
//             font-size: 3em;
//             margin: 0;
//         }
//         span{
//             color: #0D897F;
//             font-size: 2em;
//         }
//         p{
//             color: #0D897F;
//             font-size: 1.5em;
//         }
//     }
// }

// @media only screen and (max-width: 768px){
//     .what-we-do{
//         padding: 2em 0;
//         background-color: greenyellow;
//         .title{
//             color: #0D8941;
//             font-weight: bold;
//             font-size: 2.5em;
//             margin: 0;
//         }
//         span{
//             color: #0D897F;
//             font-size: 1em;
//         }
//         p{
//             color: #0D897F;
//             font-size: 1em;
//         }
//     }
    
// }

.who-we-are{
    .title{
        color: #0D8941;
        font-weight: bold;
        font-size: 3em;
        margin: 0;
    }
    span{
        color: #0D897F;
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px){
    .who-we-are{

        .title{
            color: #0D8941;
            font-weight: bold;
            font-size: 2em;
            margin: 0;
        }
        span{
            color: #0D897F;
            font-size: 1em;
        }
    }
    
}

.title-search{
    
    .title{
        color: #0D8941;
        font-weight: bold;
        font-size: 3em;
        margin: 0;
    }
    span{
        color: #0D897F;
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px){

    .title-search{
    
        .title{
            color: #0D8941;
            font-weight: bold;
            font-size: 2em;
            margin: 0;
        }
        span{
            color: #0D897F;
            font-size: 1em;
        }
    }
    
}


.title-events{
    
    .title{
        color: #0D8941;
        font-weight: bold;
        font-size: 3em;
        margin: 0;
    }
    span{
        color: #0D897F;
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px){
    .title-events{
    
        .title{
            color: #0D8941;
            font-weight: bold;
            font-size: 2em;
            margin: 0;
        }
        span{
            color: #0D897F;
            font-size: 1em;
        }
    }
    
}